/* SECTION 1 - NAV BAR */

/* Background color for the top navigation */
.topnav {
    background-color: #28363D;
    overflow: hidden; 
  }
/* Style links inside the navigation bar */
  .topnav a {
    float: left; 
    color: #DEE1DE;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 16px;
    box-sizing: border-box;
    width: 25%;
    font-family: "Julius Sans One";
    font-weight: 600;
    border: 1px solid #DEE1DE;
  }
/* Change color of links on hover */
  .topnav a:hover {
    background-color: #DEE1DE;
    color: #28363D;
  }
/* Add a color to the active/current link */
  .topnav a.active {
    background-color: #2F575D;
    color: #DEE1DE;
  }

/* SECTION 2 - BANNER */

/* Banner Image */
  .banner-img {
    width: 100%;
    opacity: 0.5;
  }
/* Container holding the image and the text */
.banner {
  position: relative;
  text-align: center;
  color: #28363D;
}
/* Centered text with tracking-in expand animation */
.img-text {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  font-family: "Secular One";
  font-weight: 600;
  animation: img-text 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
/* Smaller text on banner */
.img-text-smaller {
  font-size: 25px;
}
/* Animation keyframes */
@keyframes img-text {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

/* SECTION 3 - PROJECTS */

/* Project title */
#projects {
  background-color: #2F575D;
  color: #DEE1DE;
  width: 100%;
  padding: 15px;
  font-family: "Julius Sans One";
  margin-top: 10px;
  margin-bottom: 0px;
  box-sizing: border-box;
  font-size: 30px;
  text-align: center;
}
/* Container for 3 projects */
.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
/* Text for the projects */
.project-txt {
  color:#DEE1DE;
  text-align: center;
  width: 100%; 
  box-sizing: border-box;
  margin-top: 5px;
  margin-bottom: 0px;
  background-color: #28363D;
  padding: 10px;
  font-family: "Julius Sans One";
  font-size: 20px;
  font-weight: 600;
  border: 1px solid #DEE1DE;
}
/* Images for the projects */
.project-img {
  box-sizing: border-box;
  width: 100%; 
  opacity: 0.85;
  margin-top: 0px;
}
/* Hover over text */
.project-txt:hover {
  color: #28363D;
  background-color: #DEE1DE;
}
/* Hover over images */
.project-img:hover {
  opacity: 1;
}
/* Project 1 position */
.project1 {
  position: relative;
  width: 50%;
}
/* Button for project 1 */
.project1 .btn {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #28363D;
  color: #DEE1DE;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  font-family: "Secular One";
}
/* Hover over button on project 1 */
.project1 .btn:hover {
  background-color: #2F575D;
  font-size: 20px;
}
/* Project 2 position */
.project2 {
  position: relative;
  width: 50%;
}
/* Button for project 2 */
.project2 .btn {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #28363D;
  color: #DEE1DE;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  font-family: "Secular One";
}
/* Hover over button on project 2 */
.project2 .btn:hover {
  background-color: #2F575D;
  font-size: 20px;
}
/* Project 3 position */
.project3 {
  position: relative;
  width: 50%;
}
/* Button for project 3 */
.project3 .btn {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #28363D;
  color: #DEE1DE;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  font-family: "Secular One";
}
/* Hover over button on project 3 */
.project3 .btn:hover {
  background-color: #2F575D;
  font-size: 20px;
}

/* SECTION 4 - ABOUT */

/* About title */
#about {
    background-color: #2F575D;
    color: #DEE1DE;
    width: 100%;
    padding: 15px;
    font-family: "Julius Sans One";
    margin-top: 10px;
    margin-bottom: 0px;
    box-sizing: border-box;
    font-size: 30px;
    text-align: center;
}
/* Top line of text in about section */
.hello {
  font-size: 30px;
  padding-top: 20px;
}
/* Container for text and icons */
.about-container {
  background-color: #DEE1DE; 
}
/* Text in about section */
.about-text {
  color: #28363D;
  width: 100%;
  padding: 10px;
  margin-top: 0px;
  box-sizing: border-box;
  font-family: "Secular One";
  font-weight: 200;
  font-size: 16px;
  text-align: center;
}
/* Icons in about section */
.about-icons {
  text-align: center;
  padding-bottom: 25px;
  word-spacing: 20px;
}

/* SECTION 5 - CONTACT */

/* Contact title */
#contact {
  background-color: #2F575D;
  color: #DEE1DE;
  width: 100%;
  padding: 15px;
  font-family: "Julius Sans One";
  margin-top: 10px;
  margin-bottom: 0px;
  box-sizing: border-box;
  font-size: 30px;
  text-align: center;
}
/* Container for text and icons in contact section */
.contact-container {
  background-color: #DEE1DE; 
}
/* Text in contact section */
.contact-text {
  color: #28363D;
  width: 100%;
  padding: 15px 15px 0px 15px;
  margin-top: 0px;
  box-sizing: border-box;
  font-family: "Secular One";
  font-weight: 200;
  font-size: 16px;
  text-align: center;
}
/* Icons in contact section */
.contact-icons {
  text-align: center;
  word-spacing: 20px;
  padding-bottom: 25px;
}

/* SECTION 6 - RESPONSIVE WEB DESIGN */

/* Mobile phones, smaller than 480px */
@media only screen and (max-width: 480px) {
  /* Nav titles */
  .topnav a {
    font-size: 12px;
    padding: 10px;
  }
  /* Banner Image - no text so full opacity */
  .banner-img {
    opacity: 1;
    margin-top: 10px;
  }
  /* Banner text */
  .img-text {
    display: none;
  }
  /* Smaller banner text */
  .img-text-smaller {
    display: none;
  }
  /* Headings for sections */
  #projects, #about, #contact {
    font-size: 8px;
  }
  /* Container for projects */
  .flex-container {
    flex-direction: column;
    align-items: center;
  }
  /* 3 Projects to fit width */
  .project1, .project2, .project3 {
    width: 100%;
  }
  /* Text for projects */
  .project-txt {
    font-size: 8px;
  }
  /* Button on project 1 */
  .project1 .btn {
    font-size: 8px;
    padding: 5px 8px;
  }
  /* Button on project 2 */
  .project2 .btn {
    font-size: 8px;
    padding: 5px 8px;
  }
  /* Button on project 3 */
  .project3 .btn {
    font-size: 8px;
    padding: 5px 8px;
  }
  /* Hover on buttons */
  .project1 .btn:hover, .project2 .btn:hover, .project3 .btn:hover {
    font-size: 10px;
  }
  /* Start of about text */
  .hello {
    font-size: 14px;
  }
  /* About text and contact text */
  .about-text, .contact-text {
    font-size: 10px;
  }
  /* Reduce sizes of icons */
  .about-icons, .contact-icons {
    font-size: 0.75em;
  }
}

/* Tablets and iPads, 481px to 768px */
@media only screen and (max-width: 768px) {
  /* Banner Image - no text so full opacity */
  .banner-img {
    opacity: 1;
    margin-top: 10px;
  }
  /* Banner text */
  .img-text {
    display: none;
  }
  /* Smaller banner text */
  .img-text-smaller {
    display: none;
  }
  /* Headings for sections */
  #projects, #about, #contact {
    font-size: 15px;
  }
  /* Text for projects */
  .project-txt {
    font-size: 10px;
  }
  /* Button on project 1 */
  .project1 .btn {
    font-size: 8px;
    padding: 5px 8px;
  }
  /* Button on project 2 */
  .project2 .btn {
    font-size: 8px;
    padding: 5px 8px;
  }
  /* Button on project 3 */
  .project3 .btn {
    font-size: 8px;
    padding: 5px 8px;
  }
  /* Hover on buttons */
  .project1 .btn:hover, .project2 .btn:hover, .project3 .btn:hover {
    font-size: 10px;
  }
  /* Start of about text */
  .hello {
    font-size: 18px;
  }
  /* About text and contact text */
  .about-text, .contact-text {
    font-size: 10px;
  }
  /* Reduce sizes of icons */
  .about-icons, .contact-icons {
    font-size: 0.75em;
  }
}

/* Small screens and laptops, 769px to 1024px */
@media only screen and (max-width: 1024px) {
  /* Banner text */
  .img-text {
    font-size: 40px;
  }
  /* Smaller banner text */
  .img-text-smaller {
    font-size: 20px;
  }
  /* Headings for sections */
  #projects, #about, #contact {
    font-size: 20px;
  }
  /* Text for projects */
  .project-txt {
    font-size: 15px;
  }
  /* Button on project 1 */
  .project1 .btn {
    font-size: 12px;
    padding: 8px 12px;
  }
  /* Button on project 2 */
  .project2 .btn {
    font-size: 12px;
    padding: 8px 12px;
  }
  /* Button on project 3 */
  .project3 .btn {
    font-size: 12px;
    padding: 8px 12px;
  }
  /* Start of about text */
  .hello {
    font-size: 25px;
  }
  /* About text and contact text */
  .about-text, .contact-text {
    font-size: 14px;
  }
}